<!DOCTYPE HTML>

<html>
<head>
    <title>详情内容页面-辅材购买</title>
    <meta charset="utf-8">
   
<?php $this->load->view("home/header.html"); ?> 
 <script type="text/javascript" src="/resources/js/jquery.min.js"></script>
<script type="text/javascript" src="/resources/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="/resources/js/jquery.select_1.js"></script>
<!--<script type="text/javascript" src="/resources/js/gurlf.js"></script>-->

 
 <!--<script src="/resources/js/jquery.min.js" type="text/javascript"></script>-->
  <script src="/resources/js/jqures_1.js" type="text/javascript"></script> 
 <link rel="stylesheet" type="text/css" href="/resources/css/home/jubao.css">
    	<!--<link rel="stylesheet" type="text/css" href="css/modal.css">-->
<div class="pgwrap">
      <div class="pgpd">
    <div class="bread-nav clearfix">您现在的位置： <a href="#">买辅材</a><span>></span><a href="#"><?php echo $area1;?></a><span>></span>
      <label class="f18"><?php echo $title; ?></label>
          <div class="share fr right">
        <div class="share-l fr">
        <!-- <a href="javascript:void(0);" title="分享到QQ空间" onclick="myshare('qq')"><i class="ico-qq"></i></a><span>|</span>
         <a href="javascript:void(0);" title="分享到新浪" onclick="myshare('sina')"><i class="ico-sina"></i></a><span>|</span>
         <a href="javascript:void(0);" title="分享到百度" onclick="myshare('du')"><i class="ico-du"></i></a><span>|</span>
         <a href="javascript:void(0);" title="分享到人人" onclick="myshare('ren')"><i class="ico-ren"></i></a><span>|</span>-->
         <a href="javascript:void(0);" title="微信扫一扫"><i class="ico-wx"></i><span class="wx-qrcode">
         <img height="140" border="0" width="140" alt="微信扫一扫，分享给朋友" src="/resources/images/home/108.jpg"></span></a>
          </div>
        分享 </div>
        </div>
  </div>
    </div>
<div class="pgwrap">
      <div class="jobdt-t mgt10">
    <div class="pgpd clearfix">
          <div class="share-price">
        <!--<p class="jobprice">企业认证</p>-->
         <?php if($zhuangtai=="0"){?><p class="jobprice" style="width:100px;margin-left: -20px;">企业未认证</p><?php }?>
         <?php if($zhuangtai=="1"){?><p class="jobprice">企业认证</p><?php }?>
      </div>
          <div class="jubao showbtn">  <a href="#">
          <img class="l jubao_tubiao" src="/resources/images/home/jubao.jpg">
           <p class="jobprice1 ">举报</p></a>
      </div>
     
       
     
     
          <h1 class="jobtitle"><?php echo $title; ?></h1>
          <p class="jobdate">发布时间：<?php echo date("Y-m-d H:i:s",$addtime);?></p>
        </div>
  </div>
  
      <div class="jobdt-b">
    <div class="pgpd">
          <div class="state-img"><!-- <img src="/resources/images/home/ico_job_start.png" />--> </div>
          <ul class="work-info f16">
	        <li><span>经营范围：</span><?php echo $alcorid;?></li>
	        <li><span>工作地点：</span><?php echo $area1;?><?php echo $area2;?><?php echo $address;?></li>
              <li><span>联系人：</span><?php echo $content;?></li>
              <li><span>联系电话：</span><?php echo $moblie;?></li>
              <address class="imap hide">
          <i class="ico-map"></i><a href="javascript:;">查看地图</a>
          </address>
        
      </li></ul>
         
        </div>
  </div>
  <div class="writein-result pdtb10">
     <div class="juchi"></div>
  </div>
    </div>
<div class="pgwrap">
      <div class="clearfix">
    <div class="dleft">
          <div class="dpd-l">
        <div class="pic_box" id="js_des_big"> <img class="bigimg" src="<?php echo $imgage[0];?>" width="620" height="465"/>
              <div id="loading" style="position:absolute; left:50%; top:50%; margin-left:-32px; margin-top:-32px;">&nbsp;</div>
            </div>
        <div class="small_pic_box"> <a href="#none" class="prevbtn" id="js_prev_img"></a>
              <div class="pic_box_small" id="js_content_img">
            <div class="pic_box_small_list" id="js_content_img_list" >
            	<?php foreach($imgage as $array){?>
				<a href="javascript:;" class="pic_small_pic selected" rel="<?php echo $array;?>"> 
				<img src="<?php echo $array;?>" width=108px height="80px"/><b></b> </a>
				<?php }?>
				<!--<a href="javascript:;" class="pic_small_pic selected" rel="/resources/images/home/datu2.jpg">
				<img src="/resources/images/home/108.1.jpg" /><b></b> </a>
				<a href="javascript:;" class="pic_small_pic selected" rel="/resources/images/home/datu3.jpg"> 
				<img src="/resources/images/home/108.3.jpg" /><b></b> </a>
				<a href="javascript:;" class="pic_small_pic selected" rel="/resources/images/home/datu1.jpg">
				<img src="/resources/images/home/108.4.jpg" /><b></b> </a>
				<a href="javascript:;" class="pic_small_pic selected" rel="/resources/images/home/datu0.jpg">
				<img src="/resources/images/home/108.5.jpg" /><b></b> </a>-->

			</div>
          </div>
              <a href="#none" class="nextbtn" id="js_next_img"></a> </div>
      </div>
          <div class="dpd-l dleft-b">
        <div class="dleft-top">
              <h3 class="dleft-tit">职位描述</h3>
            </div> 
           
        <div class="text">   <br></div>
         
        <div class="text"> <?php echo $content?>
              </div>
      </div>
        </div>
    <div class="dright">
           
          <h4 class="con-tit">相似的岗位</h4>
          <div class="dpd-r">
        <div class="inbox-list">
              <ul class="job-list clearfix" style="margin-left: 5px;">
	               <?php if(empty($xiangsi)){echo '<div style="margin-top:50px">暂无信息</div>';}?>
	               <?php foreach($xiangsi as $array){?>
					<li class="job-box">
						  <div class="job-item">
						<h3 class="j-company f18"><a href="<?php echo site_url()."/Fucai/contentid/".$array['id'];?>"><?php echo $array['title']; ?></a></h3>
						 <p class="j-work"><span class="w5em">经营范围:<?php echo $array['alcorid'];?></span></p>
						<p class="j-price f20"><?php if($array['price']!="0"){echo $array['price'];}?><?php if($array['price']!="0" &&	$array['price2']!="0"){echo "-";}?><?php if($array['price2']!="0"){echo $array['price2'];}?><?php if($array['price']!="0" || $array['price2']!="0"){echo "/天";}?><?php if($array['price']=="0"	&& $array['price2']=="0"){echo "面议";}?></p>
						<div class="j-local"><i class="ico-local"></i><span class="j-zone"><?php echo $array['area1'] ?></span><?php echo $array['area2'] ?></div>
						<div class="j-high"> </div>
					  </div>
						</li>
					<?php }?>
            <!--<li class="job-box">
                  <div class="job-item">
                 <h3 class="j-company f18"><a href="#">这条是队找人</a></h3>
            <p class="j-work"><span class="w5em">年龄</span><em>|</em>18-35周岁</p>
            <p class="j-price f20">220-260元/天</p>
            <div class="j-local"><i class="ico-local"></i><span class="j-zone">江苏</span>无锡</div>
                
              </div>
                </li>
            <li class="job-box">
                  <div class="job-item">
               
                 <h3 class="j-company f18"><a href="#">这条是队找人</a></h3>
            <p class="j-work"><span class="w5em">年龄</span><em>|</em>18-35周岁</p>
            <p class="j-price f20">220-260元/天</p>
            <div class="j-local"><i class="ico-local"></i><span class="j-zone">江苏</span>无锡</div>
               </div>
                </li>
            <li class="job-box">
                  <div class="job-item">
                <h3 class="j-company f18"><a href="#">这条是队找人</a></h3>
            <p class="j-work"><span class="w5em">年龄</span><em>|</em>18-35周岁</p>
            <p class="j-price f20">220-260元/天</p>
            <div class="j-local"><i class="ico-local"></i><span class="j-zone">江苏</span>无锡</div>
               
              </div>
                </li>-->
          </ul>
            </div>
      </div>
         </div>
  </div>
    </div>
<div class="fixedBg" id='fixedBg'>&nbsp;</div>
<!--<script src="js/p.share.js"></script> -->
<script>
	//pageConfig.param = {bmurl:"/baoming",zpid:"9012"}
</script> 
<script>

    var surl = window.location.href;
    //分享代码
    function myshare(t) {
        share.shareto(t,"华宝招聘长期普工",surl,"iamges/dutu0.jpg")
    }
</script> 
<script src="/resources/js/require.min.js" ></script> 
<!--<script src="/resources/js/require-conf.js" ></script> -->
<!--<script src="/resources/js/detail.js" ></script>-->
<?php $this->load->view("home/footer.html"); ?>
<!-- footer { -->
<!--<div id="footer" class="change">
      <div class="pgwrap">
    <div class="copyright">
          <div class="foot-link"><a href="#" rel="nofollow">关于建筑网</a> <a href="#" rel="nofollow">企业文化</a> <a href="#" rel="nofollow">法律声明</a> <a href="#" rel="nofollow">服务条款</a> <a href="#">加盟合作</a> <a href="#" rel="nofollow">诚聘英才</a> <a href="#" rel="nofollow">联系我们</a> </div>
          <p>建筑网版权所有 2005-2015 | 鲁ICP备11040554号</p>
        </div>
  </div>
    </div>-->
<a id="backtop" href="javascript:;" title="返回顶部" rel="nofollow"></a> 
<!--<script type="text/javascript" src="css/gdt.php" charset="UTF-8"></script> -->
<!--<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//js/analytics.js','ga');
  ga('create', 'UA-67905236-1', 'auto');
  ga('require', 'linkid');
    ga('send', 'pageview');
</script>-->
<!--弹窗-->
<?php include "tankuan.html"?>
<!--<form action="" method="get"> <div id="bg"></div>
      <div class="box" style="display:none">
        <h2>你将举报此信息，请选择举报理由（多选）<a href="#" class="close">关闭</a></h2>
        <div class="list">
          <ul class="l jb_li">
            <li>  <input type="checkbox" name="checkbox" id="checkbox">&nbsp;举报理由  <label for="checkbox"></label> </li>
            <li>  <input type="checkbox" name="checkbox" id="checkbox">&nbsp;举报理由  <label for="checkbox"></label> </li>
            <li>  <input type="checkbox" name="checkbox" id="checkbox">&nbsp;举报理由  <label for="checkbox"></label> </li>
            <li>  <input type="checkbox" name="checkbox" id="checkbox">&nbsp;举报理由  <label for="checkbox"></label> </li>
          </ul>
           <ul class="l jb_li">
            <li>  <input type="checkbox" name="checkbox" id="checkbox">&nbsp;举报理由  <label for="checkbox"></label> </li>
            <li>  <input type="checkbox" name="checkbox" id="checkbox">&nbsp;举报理由  <label for="checkbox"></label> </li>
            <li>  <input type="checkbox" name="checkbox" id="checkbox">&nbsp;举报理由  <label for="checkbox"></label> </li>
            <li>  <input type="checkbox" name="checkbox" id="checkbox">&nbsp;举报理由  <label for="checkbox"></label> </li>
          </ul>
 <div class="db1"><a href="#" class="close">确定</a></div>
  </div>
</div></form>-->
<script type="text/javascript">
//var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
//document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F188334bb1c28ed46d0d4d8c306c766b3' type='text/javascript'%3E%3C/script%3E"));
$(document).ready(function(){
	//setTimeout(function(){
	//	$('#loading').hide();
	//},20);
	
	//console.log();
	index=0;
	$('.pic_box_small_list a').each(function(){
		index++;
	});
	index=index-1;
	index=index*180;
	var g=$('.pic_box_small_list').offset();
	//index+=g.left;
	var hidden=function(obj,is){
		$('.pic_box_small_list a').each(function(){
			$(this).find('b').hide();
		});
		if(is!=true)
		$(obj).find('b').show();

		if(is==true)
		$('.pic_box_small_list a:first-child').find('b').show();
	}
	hidden('.pic_box_small_list a',true);
	
	$('.pic_box_small_list a').mouseover(function(){
		var src=$(this).attr('rel');
		
		//alert(src);
		$('.pic_box .bigimg').attr('src',src);
		hidden(this);
	});

	$('.pic_box_small_list a').click(function(){
		var src=$(this).attr('rel');
		//alert(src);
		$('.pic_box .bigimg').attr('src',src);
		hidden(this);
	});

	var f=0;
	$('#js_prev_img').click(function(){
		//var g=$('.pic_box_small_list').offset();
		//var s=g.left;
		//if(f!=s)f=s;
		//else return '';
		//if(s>=1000-100)return ;
		//console.log(s+'++'+index);
		$('.pic_box_small_list').animate({
			'left':'-=180px',
			'leftMax':index,
		});
	});

	$('#js_next_img').click(function(){
		//var g=$('.pic_box_small_list').offset();
		//var s=g.left;
		//if(s<0)s*=-1;
		//if(s>=1000)return ;
		$('.pic_box_small_list').animate({
			'left':'+=180px',
		});
	});
	
});


</script>
     
</body>
</html>
