<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>后台管理</title>
    
    <?php $this->load->view("admin/include.html"); ?>
</head>
<body>
<div id="body-wrapper">
    <!-- Wrapper for the radial gradient background -->
    <div id="sidebar">
        <?php $this->load->view("admin/left.html"); ?>
    </div>
    <!-- End #sidebar -->
    <div id="main-content">
        <!-- Main Content Section with everything -->
       
        <!-- Page Head -->
        <div class="clear"></div>
        <!-- End .clear -->
        <div class="content-box">
            <!-- Start Content Box -->
            <div class="content-box-header">
                <h3>设备编辑</h3>
                <ul class="content-box-tabs">
                  <!--  <li><a href="user.php?act=add" function="default-tab">添加帐号</a></li>-->
                </ul>
                <div class="clear"></div>
            </div>
            <!-- End .content-box-header -->
            <div class="content-box-content">
                <div class="tab-content default-tab" id="tab2">
                    <form  action="<?php echo site_url("/Gzfenlei/devicePost");?>" method="post" name="form1"  >
                        <p>
                            <label>设备名称：</label>
                            <input name="name" type="name" id='name' style="width: 200px" value='<?php echo $name?>'>
                        </p>
                        <p>
                            <label>状态：</label>
                            <input name="status" type="radio" value='1' checked> 显示
                            <input name="status" type="radio" value='0' <?php if($status==0){echo 'checked';} ?>> 不显示
                        </p>
                        <p>
                            <input type='hidden' name='id' value='<?php echo $id?>'>
                            <input type="button" name="is" class="button" value="编辑" onclick='yanzheng()'>
                        </p>
                    </from>
                </div>
            </div>
            <!-- End .content-box-content -->
        </div>

        <div class="clear"></div>

        <?php $this->load->view("admin/footer.html"); ?>
    </div>
    <!-- End #main-content -->
</div>
</body>
<script>
    function yanzheng(){
        var name = $('#name').val();
        if(name ==''){
            alert('设备名称不能为空');
        }else{
            $('form').submit();
        }
    }
</script>
</html>
