
<body onload='time()'>
    <div id="sidebar-wrapper">
        <!-- Sidebar with logo and menu -->
        <h1 id="sidebar-title"><a href="index.php">后台管理</a></h1>
        <!-- Logo (221px wide) -->
        <a href="index.php"><img id="logo" src="/resources/images/logo.png" alt="Simpla Admin logo" /></a>
        <!-- Sidebar Profile links -->
        <div id="profile-links"><span id ='time'></span>,
         <a href="#" title="Edit your profile"><?php echo $this->admin_username;?></a> <br />
            <br />
            <a href="/admin.php" title="网站首页" target="_blank">网站首页</a> | <a href="<?php echo site_url()."/admin/logout";?>" title="Sign Out">退出</a> </div>
        <ul id="main-nav">
                <!-- <a href="#" class="nav-top-item <?php echo $this->Public->munBian('User')?>">权限管理</a>
                <ul>
                    <li><a href="<?php echo site_url("/Power/addpower")?>">添加权限</a></li> 
                    <li><a href="<?php echo site_url("/Power/distributepower")?>">分配权限</a></li>     
                    <li><a href="<?php echo site_url("/Power/adduser")?>">添加管理员</a></li>    
                    <li><a href="<?php echo site_url("/Power/addrole")?>">添加角色</a></li>   
                    <li><a href="<?php echo site_url("/Power/distributerole")?>">分配角色</a></li>          
                </ul> -->
            <!-- Accordion Menu -->
               <li>

                <?php if(!empty($_SESSION["num_JSONPOWER_arr"]['User'])){?>
                    <li> <a href="#" class="nav-top-item <?php echo $this->Public->munBian('User')?>">用户管理 </a>
                    <ul>
                        <?php if(!empty($_SESSION["num_JSONPOWER_arr"]['User']['UserList'])){?>
                            <li><a href="<?php echo site_url("/User/UserList");?>">用户列表</a></li>
                        <?php }
                            if(!empty($_SESSION["num_JSONPOWER_arr"]['User']['UserAdd'])){
                        ?>
                            <li><a href="<?php echo site_url("/User/UserAdd");?>">用户添加</a></li>
                        <?php } ?>
                    </ul>
                <?php } 
                    if(!empty($_SESSION["num_JSONPOWER_arr"]['Demand'])){
                ?>

                    <li> <a href="#" class="nav-top-item <?php echo $this->Public->munBian('Demand')?>">发布需求管理</a>
                    <ul>
                        <?php if(!empty($_SESSION["num_JSONPOWER_arr"]['Demand']['publishList'])){?>
                            <li><a href="<?php echo site_url("/Demand/publishList");?>">发布需求列表</a></li>
                        <?php }
                            if(!empty($_SESSION["num_JSONPOWER_arr"]['Demand']['publishAdd'])){
                        ?>
                            <li><a href="<?php echo site_url("/Demand/publishAdd");?>">需求添加</a></li>
                        <?php } ?>
                    </ul>
                <?php } 
                    if(!empty($_SESSION["num_JSONPOWER_arr"]['Integral'])){
                ?>

                    <li> <a href="#" class="nav-top-item <?php echo $this->Public->munBian('Integral')?>">积分商城</a>
                    <ul>
                        <?php if(!empty($_SESSION["num_JSONPOWER_arr"]['Integral']['product'])){?>
                            <li><a href="<?php echo site_url("/Integral/product");?>">商品列表</a></li>
                        <?php }
                            if(!empty($_SESSION["num_JSONPOWER_arr"]['Integral']['productAdd'])){
                        ?>
                            <li><a href="<?php echo site_url("/Integral/productAdd");?>">商品添加</a></li>
                        <?php }
                            if(!empty($_SESSION["num_JSONPOWER_arr"]['Integral']['integralLog'])){
                        ?>
                            <li><a href="<?php echo site_url("/Integral/integralLog");?>">兑换人列表</a></li>
                        <?php }
                            if(!empty($_SESSION["num_JSONPOWER_arr"]['Integral']['integralSet'])){
                        ?>
                            <li><a href="<?php echo site_url("/Integral/integralSet");?>">积分规则制定</a></li>
                        <?php } ?>
                    </ul>

                <?php } 
                    if(!empty($_SESSION["num_JSONPOWER_arr"]['Gzfenlei'])){
                ?>  
                        <li> <a href="#" class="nav-top-item <?php echo $this->Public->munBian('Gzfenlei')?>">分类管理</a>
                    <ul>
                        <?php if(!empty($_SESSION["num_JSONPOWER_arr"]['Gzfenlei']['GzfenleiList'])){?>
                            <li><a href="<?php echo site_url("/Gzfenlei/GzfenleiList");?>">工种列表</a></li>
                        <?php }
                                if(!empty($_SESSION["num_JSONPOWER_arr"]['Gzfenlei']['GzfenleiDeit'])){
                            ?>
                            <li><a href="<?php echo site_url("/Gzfenlei/GzfenleiDeit");?>">添加工种分类</a></li>
                        <?php }
                                if(!empty($_SESSION["num_JSONPOWER_arr"]['Gzfenlei']['deviceList'])){
                            ?>
                            <li><a href="<?php echo site_url("/Gzfenlei/deviceList");?>">设备分类</a></li>
                        <?php }
                                if(!empty($_SESSION["num_JSONPOWER_arr"]['Gzfenlei']['deviceDeit'])){
                            ?>
                            <li><a href="<?php echo site_url("/Gzfenlei/deviceDeit");?>">添加设备分类</a></li>
                        <?php }
                                if(!empty($_SESSION["num_JSONPOWER_arr"]['Gzfenlei']['moldList'])){
                            ?>
                            <li><a href="<?php echo site_url("/Gzfenlei/moldList");?>">项目分类</a></li>
                        <?php }
                                if(!empty($_SESSION["num_JSONPOWER_arr"]['Gzfenlei']['moldDeit'])){
                            ?>
                            <li><a href="<?php echo site_url("/Gzfenlei/moldDeit");?>">添加项目分类</a></li>
                        <?php }
                                if(!empty($_SESSION["num_JSONPOWER_arr"]['Gzfenlei']['alcorList'])){
                            ?>
                            <li><a href="<?php echo site_url("/Gzfenlei/alcorList");?>">店铺分类</a></li>
                        <?php }
                                if(!empty($_SESSION["num_JSONPOWER_arr"]['Gzfenlei']['alcorDeit'])){
                            ?>
                            <li><a href="<?php echo site_url("/Gzfenlei/alcorDeit");?>">添加店铺类型</a></li>
                        <?php } ?>
                    </ul>
                <?php } 
                    if(!empty($_SESSION["num_JSONPOWER_arr"]['Record'])){
                ?> 
                    <li> <a href="#" class="nav-top-item <?php echo $this->Public->munBian('Record')?>">记工管理</a>
                    <ul>
                        <?php 
                            if(!empty($_SESSION["num_JSONPOWER_arr"]['Record']['RecordList'])){
                        ?>
                            <li><a href="<?php echo site_url("/Record/RecordList");?>">记工列表</a></li>
                        <?php } ?>
                    </ul>
                <?php } 
                    if(!empty($_SESSION["num_JSONPOWER_arr"]['Workmate'])){
                ?> 
                    <li> <a href="#" class="nav-top-item <?php echo $this->Public->munBian('Workmate')?>">工友圈管理</a>
                    <ul>
                        <?php 
                            if(!empty($_SESSION["num_JSONPOWER_arr"]['Workmate']['WorkmateList'])){
                        ?>
                            <li><a href="<?php echo site_url("/Workmate/WorkmateList");?>">帖子列表</a></li>
                        <?php }
                            if(!empty($_SESSION["num_JSONPOWER_arr"]['Workmate']['WorkmateTeach'])){
                        ?>
                            <li><a href="<?php echo site_url("/Workmate/WorkmateTeach");?>">发布子女教育</a></li>
                        <?php }
                            if(!empty($_SESSION["num_JSONPOWER_arr"]['Workmate']['WorkmateReply'])){
                        ?>
                            <li><a href="<?php echo site_url("/Workmate/WorkmateReply");?>">评论管理</a></li>
                        <?php } ?>
                    </ul>
                <?php } 
                    if(!empty($_SESSION["num_JSONPOWER_arr"]['Statistics'])){
                ?>     
                    <li> <a href="#" class="nav-top-item <?php echo $this->Public->munBian('Statistics')?>">统计管理</a>
                    <ul>
                        <?php 
                            if(!empty($_SESSION["num_JSONPOWER_arr"]['Statistics']['usert'])){
                        ?>
                            <li><a href="<?php echo site_url("/Statistics/usert");?>">用户分析</a></li>
                        <?php }
                            if(!empty($_SESSION["num_JSONPOWER_arr"]['Statistics']['usertDetails'])){
                        ?>
                            <li><a href="<?php echo site_url("/Statistics/usertDetails");?>">用户粘度</a></li>
                        <?php }
                            if(!empty($_SESSION["num_JSONPOWER_arr"]['Statistics']['terminal'])){
                        ?>
                            <li><a href="<?php echo site_url("/Statistics/terminal");?>">终端属性</a></li>
                        <?php } ?>
                    </ul>
                <?php } 
                    if(!empty($_SESSION["num_JSONPOWER_arr"]['Inform'])){
                ?> 
                    <li> <a href="#" class="nav-top-item <?php echo $this->Public->munBian('Inform')?>">消息推送</a>
                    <ul>
                        <?php 
                            if(!empty($_SESSION["num_JSONPOWER_arr"]['Inform']['informPush'])){
                        ?>
                            <li><a href="<?php echo site_url("/Inform/informPush");?>">消息推送</a></li>
                        <?php }
                            if(!empty($_SESSION["num_JSONPOWER_arr"]['Inform']['informBrief'])){
                        ?>
                            <li><a href="<?php echo site_url("/Inform/informBrief");?>">发送短信</a></li>
                        <?php } ?>
                    </ul> 
                <?php } 
                    if(!empty($_SESSION["num_JSONPOWER_arr"]['Reason'])){
                ?>
                    <li> <a href="#" class="nav-top-item <?php echo $this->Public->munBian('Reason')?>">举报管理</a>
                    <ul>
                        <?php 
                            if(!empty($_SESSION["num_JSONPOWER_arr"]['Reason']['reasonList'])){
                        ?>
                            <li><a href="<?php echo site_url("/Reason/reasonList");?>">信息列表</a></li>
                        <?php } ?>
                    </ul>

                <?php } 
                    if(!empty($_SESSION["num_JSONPOWER_arr"]['Manage'])){
                ?>
                    <li> <a href="#" class="nav-top-item <?php echo $this->Public->munBian('Manage')?>">权限管理</a>
                    <ul>
                        <?php 
                            if(!empty($_SESSION["num_JSONPOWER_arr"]['Manage']['manageList'])){
                        ?>
                            <li><a href="<?php echo site_url("/Manage/manageList");?>">管理员列表</a></li>
                        <?php } ?>
                    </ul>

                <?php } 
                    if(!empty($_SESSION["num_JSONPOWER_arr"]['Systemset'])){
                ?>
                    <li> <a href="#" class="nav-top-item <?php echo $this->Public->munBian('Systemset')?>">系统设置</a>
                    <ul>
                        <?php 
                            if(!empty($_SESSION["num_JSONPOWER_arr"]['Systemset']['setGps'])){
                        ?>
                            <li><a href="<?php echo site_url("/Systemset/setGps");?>">导航页</a></li>
                        <?php }
                        	if(!empty($_SESSION["num_JSONPOWER_arr"]['Systemset']['ad'])){
                    	?>
                             <li><a href="<?php echo site_url("/Systemset/ad");?>">轮播图</a></li>
                             <li><a href="<?php echo site_url("/Systemset/addad");?>">添加轮播图</a></li>
                        <?php }
                            if(!empty($_SESSION["num_JSONPOWER_arr"]['Systemset']['setEdition'])){
                        ?>
                            <li><a href="<?php echo site_url("/Systemset/setEdition");?>">版本介绍</a></li>
                        <?php }
                            if(!empty($_SESSION["num_JSONPOWER_arr"]['Systemset']['setFeedback'])){
                        ?>
                            <li><a href="<?php echo site_url("/Systemset/setFeedback");?>">意见反馈</a></li>
                        <?php }
                            if(!empty($_SESSION["num_JSONPOWER_arr"]['Systemset']['setAboutUs'])){
                        ?>
                            <li><a href="<?php echo site_url("/Systemset/setAboutUs");?>">关于我们</a></li>
                            <li><a href="<?php echo site_url("/Systemset/setAboutBu");?>">关于建筑</a></li>
                            <li><a href="<?php echo site_url("/Systemset/setAboutFl");?>">法律声明</a></li>
                            <li><a href="<?php echo site_url("/Systemset/setAboutFw");?>">服务条款</a></li>
                        <?php }
                            if(!empty($_SESSION["num_JSONPOWER_arr"]['Systemset']['setTreaty'])){
                        ?>
                            <li><a href="<?php echo site_url("/Systemset/setTreaty");?>">协议设置</a></li>
                        <?php } ?>
                            <li><a href="<?php echo site_url("/Systemset/editAdmin");?>">管理员设置</a></li>
                    </ul>

                <?php } 
                    if(!empty($_SESSION["num_JSONPOWER_arr"]['Datalog'])){
                ?>
                    <li> <a href="#" class="nav-top-item <?php echo $this->Public->munBian('Datalog')?>">数据库管理</a>
                    <ul>
                        <?php 
                            if(!empty($_SESSION["num_JSONPOWER_arr"]['Datalog']['backups'])){
                        ?>
                            <li><a href="<?php echo site_url("/Datalog/backups");?>">数据库备份</a></li>
                        <?php }
                            if(!empty($_SESSION["num_JSONPOWER_arr"]['Datalog']['recover'])){
                        ?>
                            <li><a href="<?php echo site_url("/Datalog/recover");?>">数据库恢复</a></li>
                        <?php }
                            if(!empty($_SESSION["num_JSONPOWER_arr"]['Datalog']['operation'])){
                        ?>
                            <li><a href="<?php echo site_url("/Datalog/operation");?>">操作日志</a></li>
                        <?php } ?>
                    </ul>
                <?php } 
                    if(!empty($_SESSION["num_JSONPOWER_arr"]['Rests'])){
                ?>
                    <li> <a href="#" class="nav-top-item <?php echo $this->Public->munBian('Rests')?>">其他管理</a>
                    <ul>
                        <?php 
                            if(!empty($_SESSION["num_JSONPOWER_arr"]['Rests']['brushpost'])){
                        ?>
                            <li><a href="<?php echo site_url("/Rests/brushpost");?>">发布需求设置</a></li>
                        <?php }
                            if(!empty($_SESSION["num_JSONPOWER_arr"]['Rests']['sensitivity'])){
                        ?>
                            <li><a href="<?php echo site_url("/Rests/sensitivity");?>">敏感字设置</a></li>
                        <?php } ?>
                    </ul>   
                <?php }?>
            </li>
        
    </div>
 </body>
  <script type="text/javascript">
         function time(){
           var date=new Date();
           var hour=date.getHours();
           if(hour<6){
              $('#time').text("凌晨好");
           }else if(hour>=7 && hour<=11){
               $('#time').text("上午好");
           }else if(hour>=12 && hour<=13){
            $('#time').text("中午好");
           }else if(hour>=14 && hour<=17){
            $('#time').text("下午好");
           }else{
            $('#time').text("晚上好");
           }
     }

    window.onload=function(){
        setInterval("shen()",1000);
        setInterval("num()",500000);
    }

    function num(){
        $num = '';
    }
    function shen(){
        var ajax=new XMLHttpRequest();
        ajax.onreadystatechange=function(){
            if(ajax.readyState==4 && ajax.status==200){
                //document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
                if(ajax.responseText != $num){
                    if(ajax.responseText!='空'){
                        $num = ajax.responseText;
                        alert("你有"+ajax.responseText+"条消息待审核");
                    }
                        
                }
                
            }
        }
        ajax.open("GET","<?php echo site_url('/User/check');?>",true);
        ajax.send(null);
    }
  </script>
    
