<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台登录</title>
<?php include "include.html"; ?>
</head>
<body id="login">
<div id="login-wrapper" class="png_bg">
  <div id="login-top">
    <h1>Simpla Admin</h1>
    <!-- Logo (221px width) -->
    <a href="#"><img id="logo" src="/resources/images/logo.png" alt="Simpla Admin logo" /></a> </div>
  <!-- End #logn-top -->
  <div id="login-content">
      <form action="<?php echo site_url()."/admin/sub";?>" method="post">
      <div class="notification information png_bg">
        <div>说明 </div>
      </div>
      <p>
        <label>用户名：</label>
        <input class="text-input" type="text" name="username" />
      </p>
      <div class="clear"></div>
      <p>
        <label>密 码：</label>
        <input class="text-input" type="password"  name="password" />
      </p>
      <div class="clear"></div>
      <p id="remember-password">
       <!-- <input type="checkbox" />
        Remember me </p>-->
      <div class="clear"></div>
      <p>
        <input class="button" type="submit" value=" 登 录 " />
      </p>
    </form>
  </div>
  <!-- End #login-content -->
</div>
<!-- End #login-wrapper -->
</body>
</html>
