
<footer class="footerBox_regist">
  <div class="footer_regist">
    <nav class="Fquick_link fl">
      <ul>
        <li><a href="#" target="_blank">关于我们</a></li>
        <li><a href="#" target="_blank">联系我们</a></li>
        <li><a  href="#" target="_blank">加入我们</a></li>
      </ul>
      <ul>
        <li><a  href="#" target="_blank">使用条款</a></li>
        <li><a href="#" target="_blank">网站声明</a></li>
        <li><a  href="#" target="_blank">帮助</a></li>        
      </ul>
      <ul>
        <li><a  href="#" target="_blank">网站地图</a></li>
        <li><a  href="#" target="_blank">媒体报道</a></li>
        <li><a  href="#" target="_blank">友情链接</a></li>
      </ul>
   
      <div class="clear"></div>
    </nav>
    <aside class="offcial_link fl">
      <ul>
        <li> <a href="sjb.html" class="app_link">建筑APP</a> </li>
        <li> <a href="/" class="weibo_link">官方微博</a> </li>
        <li> <a class="weixin_link2">官方微信</a> </li>
      </ul>
      <div class="clear"></div>
    </aside>
    <div class="copyright fr"> Copyright © ccccc信息技术有限公司  版权所有 </div>
    <div class="clear"></div>
  </div>
</footer>