  <dl>
        <!--<dt>订单中心</dt>-->
        <dd <?php if($leftcss=="1"):?>class="currnet_page"<?php endif;?>> <a href="<?php echo site_url("PersonalCenter/index");?>">我的发布 </a> </dd>
         <dd <?php if($leftcss=="2"):?>class="currnet_page"<?php endif;?>><a href="<?php echo site_url("PersonalCenter/datas");?>">基本资料</a> </dd>
        <dd <?php if($leftcss=="3"):?>class="currnet_page"<?php endif;?>><a href="<?php echo site_url("PersonalCenter/integral");?>">我的积分</a> </dd>
        <dd <?php if($leftcss=="4"):?>class="currnet_page"<?php endif;?>><a href="<?php echo site_url("PersonalCenter/coll");?>">我的收藏</a> </dd>
        <!--<dd <?php if($leftcss=="5"):?>class="currnet_page"<?php endif;?>><a href="<?php echo site_url("PersonalCenter/invitation");?>">邀请有奖</a> </dd>       -->
        <dd <?php if($leftcss=="6"):?>class="currnet_page"<?php endif;?>><a href="<?php echo site_url("PersonalCenter/certification");?>" >我要认证</a></dd>
        <dd <?php if($leftcss=="7"):?>class="currnet_page"<?php endif;?>><a href="<?php echo site_url("PersonalCenter/updatetel");?>">更换手机号绑定</a> </dd>
        <dd <?php if($leftcss=="8"):?>class="currnet_page"<?php endif;?>><a href="<?php echo site_url("PersonalCenter/updatepassword");?>">修改密码</a> </dd>
        <dd <?php if($leftcss=="9"):?>class="currnet_page"<?php endif;?>><a href="<?php echo site_url("PersonalCenter/opinion");?>">意见反馈</a> </dd>
        <dd <?php if($leftcss=="10"):?>class="currnet_page"<?php endif;?>><a href="<?php echo site_url("PersonalCenter/me");?>">关于我们</a> </dd>
        <dd <?php if($leftcss=="11"):?>class="currnet_page"<?php endif;?>><a href="<?php echo site_url()."/Lilogin/logout";?>">退出登录</a> </dd>
        
      </dl>