<!doctype html>
<html>
<head>
    <title>工友圈</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11; IE=10; IE=9; IE=8; IE=7; IE=edge" />
<?php include "/../header.html" ?>

 <div class="pgwrap">
      <div class="jobdt-t mgt10">
    <div class="pgpd clearfix">
          
          <h1 class="jobtitle">联系我们</h1>
          <p class="jobdate">发布时间：<?php echo date("Y-m-d H:i:s",$c_time);?></p>
        </div>
  </div>
  
      <div class="jobdt-b">
    <div class="pgpd zn">
     <div style="margin:0 auto ; width:567px; padding-bottom:10px;"><img src="images/1.2.jpg"/> </div>
    12月8日，澎湃新闻（www.thepaper.cn）从上海海关获悉，近期连续查扣两批近12万只出口境外的假冒“3M”品牌N95型口罩。
据上海海关介绍，这两起出口假冒口罩案是2015年上海海关开展“中国制造海外形象维护‘清风’行动”以来查获的典型侵权案件。截至目前，上海海关累计查办“清风”侵权案件30起，查获侵权商品近70万件，案值合计230余万元人民币。
为维护“中国制造”品牌形象，上海海关在海关总署的统一部署下，对从上海口岸出口的假冒侵权行为实施专项打击，其中涉及民生和消费者健康的侵权产品是查缉重点。海关希望通过严厉打击出口假冒侵权行为，更好保护境内外消费者的身体健康，维护正常的进出口贸易秩序。
负责“清风”行动的上海海关法规处工作人员在市场调查中发现，不少非洲企业纷纷向中国采购口罩，但正规企业反映口罩出口订单量并没有明显增长。长期打假的职业敏感让上海海关法规处工作人员初步判断口罩出口环节存在较高侵权风险。
假冒口罩何时出口？以何种方式申报出口？如何在打击假冒口罩出口的同时不影响正品口罩的正常通关？上海海关法规处工作人员带着这些问题开展了大量的数据比对分析，并运用智能化管理手段，把相关风险参数加载进入海关通关系统中，实施24小时监控。
没过多久，上海海关通过风险布控先后锁定了两批出口境外某国的疑似侵权口罩，随即下达查验指令。经海关现场查验，不法分子对其中一批假冒3M口罩采取了包装与货物分离的手法，对另一批假冒3M口罩用了其它货物伪装并隐藏的手法。经过“3M”品牌权利人3M公司的鉴定，两批合计近12余万只口罩都是假冒产品。所有查扣的假冒口罩将被作无害化销毁处理。</div>
  </div>
   
    </div>
 
 
<script>
	pageConfig.filter = {sex0:'/m/',sex1:'/f/',gz1:1000,gz2:8500,gzurl:'/_gongzi_/',pgurl:'/_page_/'};
</script> 
<!--<script src="--><!--js/app/zhaogong/list.js" ></script>--> 
<script src="js/require.min.js" ></script> 
<script src="js/require-conf.js" ></script> 
<script src="js/list.js" ></script> 
<!-- footer { -->
<?php include "/../footer.html" ?>
<a id="backtop" href="javascript:;" title="返回顶部" rel="nofollow"></a> 
<script type="text/javascript" src="css/gdt.php" charset="UTF-8"></script> 
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','js/analytics.js','ga');
  ga('create', 'UA-67905236-1', 'auto');
  ga('require', 'linkid');
    ga('send', 'pageview');
</script>
</body>
</html>
