
  <div id="footer" >
      <div class="pgwrap">
    <div class="copyright">
          <div class="foot-link"><a href="<?php echo site_url("/Systemset/aboutus");?>" rel="nofollow">关于我们</a> <a href="<?php echo site_url("/Systemset/law");?>" rel="nofollow">法律声明</a> <a href="<?php echo site_url("/Systemset/service");?>" rel="nofollow">服务条款</a> <!--<a href="/">加盟合作</a> <a href=" " rel="nofollow">诚聘英才</a> --><a href="<?php echo site_url("/Systemset/tell");?>" rel="nofollow">联系我们</a> </div>
          <!--<div class="foot-seo">是中国领先的蓝领找工作网站,提供最新 <a href=" ">普工招聘</a> <a href=" ">电子厂招聘</a> <a href=" ">工厂招聘信息</a> (xxxxxxxxx.com)是中国真正为工人服务的 <a href=" ">打工网、招工网</a>。 </div>-->
          <p>建遇良才版权所有  | 京ICP备15060656号</p>
          <span>
              <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802020392" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                <img src="/resources/images/beian_jing.png" style="float:left;" />
                <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#fff;">京公网安备 11010802020392号</p>
              </a>
          </span>
        </div>

  </div>
    </div>