<!--<link rel="stylesheet" type="text/css" media="screen" href="/resources/css/home/regist.css" />-->
<!--IE6提示-->

<script src="/resources/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/resources/js/jqures_1.js"></script>
<div class="nocitIE6 clearfix" id="nocitIE6">
  <div class="fr mTR12"><a href="javascript:closeIE6Tip();void(0)" class="alrClose2" id="closeIE6Tip"></a></div>
  <div class="noticeCen"><span class="noticeRed"></span>由于您使用IE6浏览器版本过低，可能会造成无法正常浏览网页，建议升级浏览器后继续使用。</div>
</div>
<section class="headerRegist_border">
  <header class="header_regist">
    <div class="logo_regist"><a href="../index" class="com_logoLink"><img  border="0" src="/resources/images/home/logo_www.gif" alt="建筑" onClick="clickLog('from=chr_jslogin_logo');"></a> </div>
    <div class="fr headerRegist_right">
      <div class="hotline fr">
        <div class="clearfix" ><span class="hotline_icon"></span> <span class="hotline_Text"> 客服热线 <?php print_r($mobile[0][moblie]) ; ?> </span></div>
      </div>
      <div class="m_site fr"><a class="clearfix" href="../sjb" onClick="clickLog('from=chr_jslogin_mobile');"><span class="phone_site"></span> <span class="phone_siteText" > 手机站</span></a></div>
    </div>
  </header>
  <div class="clear"></div>
</section>