/*
name: longs+;
time: 20151111;
about: base鍐呭 || 椤甸潰鐨刪eader/main/footer;
*/
 .fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.hide{display:none;}
 .red{color:#B40000;}
 
.clear:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
 
.topbar .topbar_linkBox {margin:0 auto;width:1024px;text-align:right;overflow:hidden;}
.topbar .topbar_linkBox a {display:inline-block;color:#323232;padding:0 16px 0 14px;position:relative;}
.topbar .topbar_linkBox .bdright {position:absolute;top:50%;right:-2px;margin-top:-10px;width:2px;height:20px;background-color:#CCCCCC;overflow:hidden;}
.header {width:100%;min-width:1024px;background-color:#FFFFFF;border-bottom:2px solid #B40000;}
.header .nav {margin:0 auto;width:1024px;overflow:hidden;}
.header .logo {float:left;width:238px;text-align:center;padding:23px 0;padding-right:30px;}
{color:#B40000;}
 
.header .navList .nav_linkBox a {display:block;padding:0px 20px;font-size:18px;line-height:98px;color:#656565;}
.header .navList .nav_linkBox.outer a {color:#B40000;border-bottom:8px solid #B40000;}
.main {margin:10px auto 0;width:1024px;background:#FFFFFF url(../images/about/about_mainBg1111.png) 0 0 repeat;}
   
/* news+ */
.w3em{ display: inline-block; width: 3em; vertical-align: middle;}
.main.justM {overflow: hidden; background: 0 none;}
.mainLeft { float: left; width:780px;}
.mainRight{ float:right; width:232px;}
.mainLeft.justM { padding-bottom: 9999em; margin-bottom: -9999rem;}
.mainRight.justM { padding-bottom: 9999em; margin-bottom: -9999rem; background: #fff;}
.ml-box {background:#fff url("../images/about/contact04.png") 0 0 repeat-x; padding: 20px 30px; margin-bottom: 10px; }
.mainLeft.justM .ml-box {margin-bottom: 0;}
.ml-txt-head {border-bottom: 1px dashed #999999; height: 40px; line-height: 40px; color: #b40000; font-size:20px; padding-left: 10px; font-weight: normal; margin-top: 10px;}
.ml-txt-body { padding: 16px 30px; overflow: hidden;}
.ml-txt-body p {color :#656565; line-height: 32PX; font-size:16px;}
.ml-txt-body a { color: #6f7b91; text-decoration: underline; }
.ml-txt-body table  { margin-bottom: 30px;}
.mr-box { padding:10px 10px 20px; background:#fff; margin-bottom:10px; border:solid 1px #EEE;}
.mr-tit { background:#06c1b0; height: 50px; line-height: 50px; text-align: center; color :#fff; font-size: 20px;}
.mr-box p { font-size: 16px; color : #656565; line-height: 30px; padding: 0px 13px;}
.mr-box p:last-child {margin-left: 15px;}
.mr-box p span {font-weight: bold; color: #b40000; margin: 0px 5px;}
.ml-new-head { border-bottom: 1px solid #ccc; height: 40px; line-height: 40px; color: #b40000; font-size:20px; padding-left: 10px; font-weight: normal; margin-top: 10px; margin-bottom: 10px;}
 
























